

<div class="hero-container">

  <section class="hero-lg d-none d-lg-flex align-items-center justify-content-center">
    <div class="background-lg">
      <div class="image-reveal-stagger-container d-flex align-items-center justify-content-center flex-column">
          <div class="image-reveal-overflow d-flex align-items-center justify-content-center">
              <div class="image-reveal-stagger image-reveal-stagger-marker1 left-reveal-stagger"></div>
          </div>
          <div class="image-reveal-overflow d-flex align-items-center justify-content-center">
              <div class="image-reveal-stagger image-reveal-stagger-marker2 right-reveal-stagger"></div>
          </div>
          <div class="image-reveal-overflow d-flex align-items-center justify-content-center">
              <div class="image-reveal-stagger image-reveal-stagger-marker3 left-reveal-stagger"></div>
          </div>
          <div class="image-reveal-overflow d-flex align-items-center justify-content-center">
              <div class="image-reveal-stagger image-reveal-stagger-marker4 right-reveal-stagger"></div>
          </div>
          <div class="image-reveal-overflow d-flex align-items-center justify-content-center">
              <div class="image-reveal-stagger image-reveal-stagger-marker5 left-reveal-stagger"></div>
          </div>
          <div class="image-reveal-overflow d-flex align-items-center justify-content-center">
              <div class="image-reveal-stagger image-reveal-stagger-marker6 right-reveal-stagger"></div>
          </div>
          <div class="image-reveal-overflow d-flex align-items-center justify-content-center">
              <div class="image-reveal-stagger image-reveal-stagger-marker7 left-reveal-stagger"></div>
          </div>
          <div class="image-reveal-overflow d-flex align-items-center justify-content-center">
              <div class="image-reveal-stagger image-reveal-stagger-marker8 right-reveal-stagger"></div>
          </div>
      </div>
      <img class="bg-img-lg" [src]="model" alt="" />
    </div>
  
    <div
      class="box-stagger-container-lg d-flex align-items-end justify-content-center flex-column"
    >
      <div class="box-stagger-lg box-1-lg d-flex align-items-center justify-content-center gap-2">
          <div class="gear-container-lg">
              <mat-icon class="gear-lg">settings</mat-icon>
          </div>
          <div class="box-1-animation-lg d-flex align-items-center justify-content-center gap-2">
              <div class="I-container-lg d-flex align-items-center justify-content-center">
                 <p class="I-lg">
                     I
                 </p>
              </div>
              <div class="d-flex align-items-center justify-content-center flex-column">
                 <div class="type-writed-text-container-lg d-flex align-items-center justify-content-start">
                     <div
                     class="stagger-marker-box-1-lg type-writer-lg"
                     [class.cursor]="!isParagraph && !isBackspacing"
                   >
                     {{ eHeader }}
                   </div>
                 </div>
                 <div
                 class="plain-text-container-lg d-flex align-items-center justify-content-center d-flex align-items-center justify-content-center"
               >
                 <div class="plain-text-lg stagger-marker-box-1-lg">
                   Solutions For Web.
                 </div>
               </div>
              </div>
          </div>
      </div>
      <div class="box-stagger-lg box-2-lg d-flex align-items-center justify-content-center flex-column">
  
          <div class="arrow-container-lg d-flex align-items-center justify-content-center">
                  <svg width="53" height="97" viewBox="0 0 70 100" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-lg">
                      <path class="fill" d="M23.25 93.0007C23.25 94.9337 24.817 96.5007 26.75 96.5007C28.683 96.5007 30.25 94.9337 30.25 93.0007H23.25ZM29.2249 1.48114C27.858 0.114308 25.642 0.114308 24.2751 1.48114L2.00126 23.755C0.634428 25.1218 0.634428 27.3379 2.00126 28.7048C3.3681 30.0716 5.58418 30.0716 6.95101 28.7048L26.75 8.90576L46.549 28.7048C47.9158 30.0716 50.1319 30.0716 51.4987 28.7048C52.8656 27.3379 52.8656 25.1218 51.4987 23.755L29.2249 1.48114ZM30.25 93.0007L30.25 3.95602H23.25L23.25 93.0007H30.25Z" fill="#fff"/>
                      </svg>
          </div>
  
        <div class="center-phrase-stagger-container-lg d-flex align-items-center justify-content-center">
          <p class="center-phrase-stagger-lg">From Concept To Deployment,</p>
        </div>
        <div class="center-phrase-stagger-container-lg d-flex align-items-center justify-content-center">
          <p class="center-phrase-stagger-lg">Let's Create a Comprehensive</p>
        </div>
        <div class="center-phrase-stagger-container-lg d-flex align-items-center justify-content-center">
          <p class="center-phrase-stagger-lg">Digital Experience.</p>
        </div>
      </div>
      <div class="box-stagger-lg box-3-lg d-flex align-items-center justify-content-center gap-2">
          <div class="bottom-stagger-container-lg d-flex align-items-center justify-content-center">
          <h1 class="bottom-stagger-lg m-0 p-0">
            E
          </h1>
          </div>
          <div class="bottom-stagger-container-lg d-flex align-items-center justify-content-center">
              <h1 class="bottom-stagger-lg m-0 p-0">
                  N
                </h1>
          </div>
          <div class="bottom-stagger-container-lg d-flex align-items-center justify-content-center">
              <h1 class="bottom-stagger-lg m-0 p-0">
                  G
                </h1>
          </div>
          <div class="bottom-stagger-container-lg d-flex align-items-center justify-content-center">
              <h1 class="bottom-stagger-lg m-0 p-0">
                  I
                </h1>
          </div>
          <div class="bottom-stagger-container-lg d-flex align-items-center justify-content-center">
              <h1 class="bottom-stagger-lg m-0 p-0">
                  N
                </h1>
          </div>
          <div class="bottom-stagger-container-lg d-flex align-items-center justify-content-center">
              <h1 class="bottom-stagger-lg m-0 p-0">
                  E
                </h1>
          </div>
          <div class="bottom-stagger-container-lg d-flex align-items-center justify-content-center">
              <h1 class="bottom-stagger-lg m-0 p-0">
                  E
                </h1>
          </div>
          <div class="bottom-stagger-container-lg d-flex align-items-center justify-content-center">
              <h1 class="bottom-stagger-lg m-0 p-0">
                  R
                </h1>
          </div>
          <div class="bottom-stagger-container-lg d-flex align-items-center justify-content-center">
              <h1 class="bottom-stagger-lg m-0 p-0 bottom-stagger-dot-lg">
                  .
                </h1>
          </div>
      </div>
    </div>
  </section>

  <section class="hero-sm d-lg-none">

    <div class="hero-sm-bg-text d-flex align-items-center justify-content-center">
      <div class="hero-sm-bg-text-container">
        <h1 class="hero-sm-bg-stagger">
          E
        </h1>
      </div>
      <div class="hero-sm-bg-text-container">
        <h1 class="hero-sm-bg-stagger">
          N
        </h1>
      </div>
      <div class="hero-sm-bg-text-container">
        <h1 class="hero-sm-bg-stagger">
          G
        </h1>
      </div>
      <div class="hero-sm-bg-text-container">
        <h1 class="hero-sm-bg-stagger">
          I
        </h1>
      </div>
      <div class="hero-sm-bg-text-container">
        <h1 class="hero-sm-bg-stagger">
          N
        </h1>
      </div>
      <div class="hero-sm-bg-text-container">
        <h1 class="hero-sm-bg-stagger">
          E
        </h1>
      </div>
      <div class="hero-sm-bg-text-container">
        <h1 class="hero-sm-bg-stagger">
          E
        </h1>
      </div>
      <div class="hero-sm-bg-text-container">
        <h1 class="hero-sm-bg-stagger">
          R
        </h1>
      </div>
      <div class="hero-sm-bg-text-container">
        <h1 class="hero-sm-bg-stagger">
          .
        </h1>
      </div>  
    </div>
    <div class="background-sm d-flex align-items-start justify-content-center" >
      <img class="bg-img-sm" [src]="model" alt="">
    </div>

    <div class="image-reveal-stagger-layer-sm">
        <div class="image-reveal-stagger-sm image-reveal-left-sm"></div>
        <div class="image-reveal-stagger-sm image-reveal-right-sm"></div>
        <div class="image-reveal-stagger-sm image-reveal-left-sm"></div>
        <div class="image-reveal-stagger-sm image-reveal-right-sm"></div>
        <div class="image-reveal-stagger-sm image-reveal-left-sm"></div>
        <div class="image-reveal-stagger-sm image-reveal-right-sm"></div>
        <div class="image-reveal-stagger-sm image-reveal-left-sm"></div>
        <div class="image-reveal-stagger-sm image-reveal-right-sm"></div>
    </div>

    <div class="phrase-layer-sm d-flex align-items-center justify-content-start flex-column">
      <div class="phrase-stagger-container-sm">
        <p class="phrase-stagger-sm">
          From Concept To Deployment, 
        </p>
      </div>
      <div class="phrase-stagger-container-sm">
        <p class="phrase-stagger-sm">
          Let's Create a Comprehensive 
        </p>
      </div>
      <div class="phrase-stagger-container-sm">
        <p class="phrase-stagger-sm">
          Digital Experience. 
        </p>
      </div>
    </div>
  </section>
</div>
<!-- <section class="test d-flex align-items-center justify-content-center">
  <h1>Test</h1>
</section> -->
