@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.hero-wrapper-lg{
    overflow-x: hidden;
    width: 100vw;
}
.scrollX{
    width: 200vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.fixed-layer-lg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: #000;
}

.bg-img-lg{
    height: 100%;
    width: fit-content;
    img{
        height: 95%;
        width: auto;
    }
    position: relative;
}

.img-reveal-stagger-layer-lg{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-reveal-stagger-lg{
    width: 100%;
    height: 8.33%;
    background: #000;
}

.hero-lg{
    height: 100%;
    width: 50%;
    color: white;
    position: relative;
}
.about-lg{
    background: #fc9f9f;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
     top: 0;
     left: 0;
     ;
}
.extra-width{
    width: 50%;
    height: 100%;
}
.progress-svg-container{
    position: absolute;
    top: 12%;
    left: 25%;
overflow: hidden;
    width: 25vw;
    height: 10vh;
}
.progress-svg{
    position: relative;
    top: 10vh;
}

.box-stagger-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.phrase-container-lg{
    height: 4rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phrase-lg{
    font-family: "Oswald",serif;
    font-size: 3rem;
    color: rgb(212, 212, 212);
}
.box-stagger-lg{
    height: 33.33%;
}
.box-stagger-lg-animation{
    margin: 0;
    padding: 0;
    position: relative;
    top: 3rem;
}
.i-lg{
    font-size: 6rem;
    font-family:"Roboto mono", serif;
}
.i-container-lg{
    height: 6rem;
    line-height: 6rem;
    font-weight: 900;
    overflow: hidden;
}
.typewriter-text-container{
    height: 4rem;
    width: 100%;
    overflow: hidden;
    p{
        font-size: 2rem;
        font-weight: 700;
    }
    display: flex;
  align-items: center;
  justify-content: start;
}
.plain-text-container{
    height: 2rem;
    overflow: hidden;
    p{
        font-size: 1.5rem;
        font-weight: 500;
    }
}
.box-1{
    width: 50%;
    position: relative;
}
.gear-container-lg{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    mat-icon{
        transform: scale(2);
    }
}
.box-2{
    width: 65%;
    position: relative;
    overflow: hidden;
}
.arrow-container-lg{
    position: absolute;
    top: 2rem;
    left: 3rem;
    overflow: hidden;
}
.arrow-lg{
    width: 3rem;
}
.box-3{
    width: 75%;
    overflow: hidden;
}
.letter-stagger-container-lg{
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.letter-stagger-lg{
    margin: 0;
    padding: 0;
    font-size: 16rem;
    font-family: "Raleway",serif;
    line-height: 18rem;
    font-weight: 1000;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-reveal{
width: 100%;
height: 5vh;
overflow: hidden;
h1{
    margin:  0;
    padding: 0;
    font-size: 1.5rem;
    position: relative;
    right: 1.5vw;
    top: 5vh;
}
}
.about-bg-animation-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}
.about-layer2-lg{
    height: 100%;
    width: 65%;
    position: relative;
    z-index: 3;
}
.about-text-container{
    width:75%;
    overflow: hidden;
    position: absolute;
    top: 26%;
    left: 0;
}
.about-text{
    font-size: 1.3rem;
    line-height: 2.3rem;
    font-family: "Oswald",serif;
    position: relative;
}
.services-wrapper-lg{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    
}
.services-header-lg{
        font-weight: 900;
        font-family: "Raleway",serif;
        font-size: 1.9rem;
        margin: 0;
        padding: 0;
        position: relative;
        // top: 50vh;
        // top: 25vh;
}
.services-header-container-lg{
    overflow: hidden;
}
.services-lg{
    width: 100%;
    height: 85%;
    position: absolute;
    top: 15%;
}
.mask{
    width: 190%;
}
.contact-lg{
    height: 100vh;
    width: 100vw;
    background:#000;
    position: relative;
    z-index: 3;
    overflow: hidden;
}
.contact-section-bg-text{
    overflow: hidden;
    h1{
        font-size: 14rem;
        font-family: "Raleway",serif;
        line-height: 16rem;
        font-weight: 1000;
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
        padding: 0;
    }
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 7;
}
.grid-layer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    z-index: 5;
}
.grid-items{
    border: 0.1rem solid rgb(255,255,255,0.2);
}
.testbox{
    width: 90vw;
    height: 70vh;
    background: #0f0f0f;
    border-radius: 15px;
    position: absolute;
    z-index: 6;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.services-item-lg{
    width: 30%;
    height: 47%;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter:  blur(8vw);
    backdrop-filter: blur(8vw);
    border-radius: 15px;
    position: relative;
    opacity: 1;
    transform: scale(0.5);
    gap: 5%;
    opacity: 0;
}
.services-title-lg{
    width: 80%;
    h1{
        margin: 0;
        padding: 0;
        position: relative;
        top: 0.2rem;
        left: 0.5rem;
        font-family: "Raleway",serif;
        font-weight: 700;
        font-size: 1.2rem;
    }
}
.services-divider-lg{
    width: 80%;
    border: 1px solid rgb(209, 97, 23);
    border-radius: 5px;
}
.services-desc-lg{
    width: 80%;
    p{
        font-size: .9rem;
    }
}
.cursor {
    border-right: 0.7em solid rgb(99, 98, 98);
    animation: blink 0.2s steps(1) infinite;
  }
  @keyframes blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: rgb(170, 168, 168);
    }
  }

  @media only screen and (min-width:912px) and (max-width:1279px){
    .i-container-lg{
        height: 4rem;
    }
    .i-lg{
        font-size: 4rem;
    }
    .typewriter-text-container{
  height: 2.5rem;
      p{
        font-size: 1.1rem;
      }
    }
    .plain-text-container{
        height: 1.5rem;
p{
    font-size: .9rem;
}
    }
    .phrase-container-lg{
        height: 2rem;
    }
    .phrase-lg{
        font-size: 1.5rem;
    }
    .arrow-lg{
        width: 2rem;
    }
    .letter-stagger-lg{
        font-size: 8rem;
    }
    .gear-container-lg{
        mat-icon{
            transform: scale(1.2);
        }
    }
    .about-text{
        font-size: .7rem;
        line-height: 1.5rem;
    }
    .about-text-container{
    }
    .services-header-lg{
      font-size: 1rem;
    }
    .services-title-lg{
        h1{
            font-size: .7rem;
            line-height: 1.2rem;
        }
    }
    .services-desc-lg{
        p{
            font-size: .4rem;
            line-height: .8rem;
        }
    }
    .progress-svg-container{
        left: 27%;
    }
    .progress-svg{
        width: 75%;
    }

    .about-reveal{
      h1{
        margin: 0;
        padding: 0;
        font-size: 1rem;
      }
    }
    .contact-section-bg-text{
        h1{
            font-size: 8rem;
            line-height: 10rem;
        }
    }
  }

  @media only screen and (min-width:1280px) and (max-width:1400px){
    .progress-svg{
        width: 75%;
    }
    .progress-svg-container{
        // border: 2px solid white;
    }
    .i-container-lg{
        height: 5rem;
    }
    .i-lg{
        font-size: 5rem;
    }
    .typewriter-text-container{
  height: 3rem;
      p{
        font-size: 1.5rem;
      }
    }
    .plain-text-container{
        height: 2rem;
p{
    font-size: 1.2rem;
}
    }
    .phrase-container-lg{
        height: 3.4rem;
    }
    .phrase-lg{
        font-size: 2.4rem;
        // color: green;
    }
    .arrow-lg{
        width: 2.5rem;
    }
    .letter-stagger-lg{
        font-size: 11rem;
    }
    .gear-container-lg{
        mat-icon{
            transform: scale(1.5);
        }
    }
    .about-text{
        font-size: 1rem;
        line-height: 2rem;
    }
    .services-header-lg{
      font-size: 1.4rem;
    }
    .services-title-lg{
        h1{
            font-size: 1rem;
            line-height: 1.6rem;
        }
    }
    .services-desc-lg{
        p{
            font-size: .6rem;
            line-height: 1rem;
        }
    }
    .about-reveal{
    
      h1{
        // font-weight: 900;
        // letter-spacing: 1px;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
      }
    }
    .contact-section-bg-text{
        h1{
            font-size: 10rem;
            line-height: 12rem;
        }
    }
  }

  @media only screen and (min-width:1401px) and (max-width:1600px){
    .progress-svg-container{
        width: 15%;
    }
    .i-container-lg{
        height: 5rem;
    }
    .i-lg{
        font-size: 5rem;
    }
    .typewriter-text-container{
  height: 3rem;
      p{
        font-size: 1.5rem;
      }
    }
    .plain-text-container{
        height: 2rem;
p{
    font-size: 1.2rem;
}
    }
    .phrase-container-lg{
        height: 3.4rem;
    }
    .phrase-lg{
        font-size: 2rem;
        // color: green;
    }
    .arrow-lg{
        width: 2.5rem;
    }
    .letter-stagger-lg{
        font-size: 11rem;
    }
    .gear-container-lg{
        mat-icon{
            transform: scale(1.5);
        }
    }
    .about-text{
        font-size: 1rem;
        line-height: 2rem;
    }
    .services-header-lg{
      font-size: 1.4rem;
    }
    .services-title-lg{
        h1{
            font-size: 1rem;
            line-height: 1.6rem;
        }
    }
    .services-desc-lg{
        p{
            font-size: .6rem;
            line-height: 1rem;
        }
    }
    .about-reveal{
        position: absolute;
      right: 0%;
      top: 15%;
      overflow: hidden;
      h1{
        font-weight: 900;
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
      }
    }
    .contact-section-bg-text{
        h1{
            font-size: 12rem;
            line-height: 14rem;
        }
    }
  }