.nav{
    height: 100%;
    width: 100%;
}

.logo{
    h1{
        font-size: 1.5rem;
        font-weight: 900;
        color: rgb(231, 229, 229);
    }
//  border: 3px solid red;
}
.left-aligned-items{
    // border: 3px solid green;
}
.menu{
    li{
        p{
            margin: 0;
            padding: 0;
        }
    }
}
.side-nav-toggle{
  height:7.5vh;
  width: 7.5vh;
  background: #e97c22;
  border-radius: 50%;
  gap: 0.7rem;
}
.line{
    width: 60%;
    height: 6%;
    background: #fff;
    border-radius: 10px;
}
.side-nav-toggle-container{
    overflow: hidden;
}
@media only screen and (max-width: 576px) {
    .logo{
        h1{
            font-size: 1.3rem;
        }
        // left: 2vw;
    }
}