<div class="nav row">
  <div class="col-6 m-0 p-0">
    <div class="logo d-flex align-items-center justify-content-start">
      <h1>Sunil Mahali.</h1>
    </div>
  </div>
  <div class="col-6 row m-0 p-0">
    <div class="menu-container col-9 m-0 p-0 d-none d-lg-block">
      <ul class="list-inline menu d-flex align-items-center justify-content-center gap-5 m-0 p-0">
        <li class="menu-items">
          <p>About</p>
        </li>
        <li class="menu-items">
          <p>Blog</p>
        </li>
        <li class="menu-items">
          <p>Projects</p>
        </li>
      </ul>
    </div>
    <div class="sidenav-toggle-container col-12 col-lg-3 d-flex align-items-center justify-content-end m-0 p-0">
        <div class="sidenav-toggle-button d-flex align-items-center justify-content-center flex-column gap-2 m-0 p-0 ">
             <div class="lines"></div>
             <div class="lines"></div>
        </div>
    </div>
  </div>
</div>
