<div class="nav row bg-transparent m-0 p-0">
    <div class="logo col-6 d-flex align-items-center justify-content-start">
        <h1  class="m-0 p-0">Sunil Mahali</h1>
    </div>
    <div class="menu-container col-6 row d-flex align-items-center justify-content-center">
        <ul class="list-inline menu d-none d-lg-flex align-items-center justify-content-center gap-4 gap-xl-5 m-0 p-0 col-10">
          <li class="menu-items d-flex align-items-center justify-content-center" routerLink="" routerLinkActive="router-active">
            <p>Home</p>
            <span class="active-marker"></span>
          </li>

          <li class="menu-items d-flex align-items-center justify-content-center" routerLink="/about" routerLinkActive="router-active">
            <p>About</p>
            <span class="active-marker"></span>
          </li>

          <li class="menu-items d-flex align-items-center justify-content-center" routerLink="/blog" routerLinkActive="router-active">
            <p>Blog</p>
            <span class="active-marker"></span>
          </li>

          <li class="menu-items d-flex align-items-center justify-content-center" routerLink="/projects" routerLinkActive="router-active">
            <p>Projects</p>
            <span class="active-marker"></span>
          </li>

          <li class="menu-items d-flex align-items-center justify-content-center" routerLink="contact" routerLinkActive="contact">
            <p>Contact</p>
            <span class="active-marker"></span>
          </li>
        </ul>

        <div class="sidenav-toggle col-12 col-lg-2 d-flex align-items-center justify-content-end justify-content-lg-center">
            <button mat-fab>
                <div class="line line-1"></div>
                <div class="line line-2"></div>
            </button>
        </div>
    
    </div>
</div>