
.map{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 15;
}
  
// .map::before{
//     content: "";
//     width: 100%;
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     top: 0;
//     left: 0;
//     background: radial-gradient(circle at center, transparent, rgb(41, 41, 41) 97%);
//     // border-radius: 15px;
//     position: absolute;
//     z-index: 13;
//     pointer-events: none;
//     // border: 1rem solid rgb(31, 31, 31);
//     box-shadow: inset 0 0 3rem rgb(41, 41, 41);
//     border: 3px solid #1f1f1f;
// }