.main-wrapper{
    position: relative;
}
.nav-wrapper{
    width: 100vw;
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 999;
}
.routes-wrapper{
    position: absolute;
    top: 0;
}

// @media only screen and (max-width: 768px){
//     .nav-wrapper{
//         height: 10vh;
//     }
// }